body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
section {
  width: 100%;
  height: 100%;
  padding-top: 75px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  max-width: 1456px;
  padding: 0px 20px;
}
.header {
  margin: 0;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.header__column {
  margin: 0;
  padding: 0px 45px;
}
.header__column--left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.header__column--left a {
  margin-right: 20px;
}
.header__column--right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: auto;
}
.header__column--right .btn--form {
  transition: .5s;
}
.header__column--right .btn--form:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.header__info {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 6px 0;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header__info-icon {
  display: inline-block;
  height: 46px;
  width: 46px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.header__info-text {
  display: inline-block;
}
.header__info .aligner a {
  color: #fff;
  text-decoration: none;
}
.header__info:nth-child(1) .header__info-icon {
  background: url('../img/location-pointer.svg') no-repeat;
  background-position: 9px 8px;
}
.header__info:nth-child(2) .header__info-icon {
  background: url('../img/watch.svg') no-repeat;
  background-position: 9px 8px;
}
.header__info:nth-child(3) .header__info-icon {
  background: url('../img/call-answer.svg') no-repeat;
  background-position: 11px 9px;
}
.header__info:nth-child(4) .header__info-icon {
  background: url('../img/message.svg') no-repeat;
  background-position: 9px 8px;
}
.header__info:last-child {
  cursor: pointer;
  font-weight: bold;
}
.header__info:last-child .header__info-icon {
  border-color: #06abdd;
}
.header__info:last-child .header__info-text {
  color: #06abdd;
  text-transform: uppercase;
}
.hamburger {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  padding-right: 70px;
}
.hamburger:hover .hamburger__item:first-child {
  position: relative;
  top: -2px;
}
.hamburger:hover .hamburger__item:last-child {
  position: relative;
  bottom: -2px;
}
.hamburger__item {
  display: inline-block;
  width: 35px;
  height: 5px;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 2px;
}
.hamburger__item:last-child {
  margin-bottom: 0;
}
.hamburger::after {
  content: 'Меню';
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  line-height: 16px;
  position: absolute;
  top: 4px;
  left: 45px;
}
.navigation {
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  display: none;
}
.navigation__btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: url('../img/cancel.svg') center no-repeat;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.navigation__btn:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.navigation__column {
  width: 312px;
  margin: 0 15px;
  position: relative;
}
.navigation__list {
  margin: auto;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  color: #06abdd;
}
.navigation__underlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__title {
  font-size: 24px;
  margin-bottom: 40px;
  padding-left: 30px;
  border-left: 2px solid #06abdd;
}
.navigation__undertitle {
  font-size: 16px;
  margin-bottom: 10px;
  webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigation__undertitle:first-child {
  margin-top: 15px;
}
.navigation__undertitle a {
  color: #fff;
  text-decoration: none;
  webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigation__undertitle:hover {
  transform: translateX(8px);
}
.navigation__undertitle:hover a {
  color: #06abdd;
}
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 112px;
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.social__item {
  display: inline-block;
  margin-right: 10px;
}
.social__item a {
  opacity: .5;
  webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social__item:hover a {
  opacity: 1;
}
.services .navigation__list {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.services .navigation__column--left {
  margin-left: auto;
}
.services .navigation__column--right {
  margin-right: auto;
}
.services .navigation__undertitle a {
  color: #000;
}
.slider {
  padding-top: 55px;
  background: url('../img/qwe.jpg') no-repeat;
  background-size: cover;
}
.slider .item {
  width: 100%;
  height: 900px;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.slider__title {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 60px;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}
.btn--link {
  padding: 13px 30px;
  border: 1px solid #06abdd;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: left;
  text-indent: 0;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  background: transparent;
  font-weight: 600;
  transition: .5s;
}
.btn--link:hover {
  background: #06abdd;
}
.popupform {
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: #eee;
  padding: 20px 30px;
  overflow-y: auto;
}
.popupform-field {
  position: relative;
}
.popupform-field label.error {
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  color: red;
}
.popupform-inner {
  max-height: 600px;
  margin: auto;
}
.popupform-thanks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  background: #fff;
}
.popupform-thanks-content {
  margin: auto;
  max-width: 600px;
  padding: 20px;
}
.popupform-thanks-content h2.title-form {
  font-size: 30px;
}
.popupform .btn-form-close {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: all .5s ease;
  background: url('../img/delete.svg');
}
.popupform .btn-form-close:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all .5s ease;
}
.popupform .title-form {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
}
.popupform p {
  display: block;
  max-width: 915px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 16px;
}
.popupform form {
  max-width: 430px;
  padding: 0 15px;
  margin: 0 auto;
}
.popupform input[type="text"],
.popupform input[type="email"],
.popupform textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 13px 20px;
  color: #5b5b5b;
  border: 2px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 20px;
  height: 48px;
  background: #FFF;
}
.popupform input[type="text"]:hover,
.popupform input[type="email"]:hover,
.popupform textarea:hover {
  border: 2px solid #4fd2fa;
}
.popupform input[type="text"]:focus,
.popupform input[type="email"]:focus,
.popupform textarea:focus {
  border: 2px solid #06abdd;
}
.popupform textarea {
  height: 130px;
  font-family: Arial, sans-serif;
}
.popupform input[type="file"] {
  display: none;
}
.popupform .btn-file {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 16px;
  background: #80dffc;
  line-height: 50px;
  border-radius: 4px;
  color: #686868;
  cursor: pointer;
  transition: .15s;
  margin-bottom: 0;
  text-align: center;
}
.popupform .btn-file:hover {
  background: #06abdd;
  transition: .15s;
  color: #282828;
}
.popupform .btn-file:active,
.popupform .btn-file:focus {
  outline: none;
}
.popupform .btn-text {
  display: block;
  margin: 0 auto;
  min-width: 180px;
  height: 48px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: .25s;
  border-radius: 4px;
  color: #686868;
  background: #80dffc;
  font-family: 'Open Sans', Arial, sans-serif;
}
.popupform .btn-text:hover {
  background: #06abdd;
  color: #282828;
}
.popupform .btn-text:focus {
  outline: none;
}
.popupform .confidentiality {
  margin: 10px 0;
}
.confidentiality {
  font-size: 11px;
  text-align: center;
  color: #757575;
}
.confidentiality a {
  text-decoration: underline;
  color: #757575;
  transition: .2s;
}
.confidentiality a:hover,
.confidentiality a:active {
  color: #282828;
  transition: .2s;
}
.mark {
  width: 200px;
  margin: 0 auto;
}
.mark .checkmark {
  stroke: #ffee00;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 2s ease-out forwards;
}
.container {
  max-width: 1456px;
  margin: 0 auto;
}
.category {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category__title {
  font-size: 24px;
  margin-bottom: 40px;
  padding-left: 30px;
  border-left: 2px solid #06abdd;
  color: #06abdd;
}
.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.advantages__item {
  width: 25%;
  padding-left: 92px;
  padding-right: 5px;
  position: relative;
  margin: 10px 0;
}
.advantages__item:after {
  content: '';
  display: block;
  width: 72px;
  height: 72px;
  background: url('../img/sprite--advantages.png') no-repeat;
  position: absolute;
  top: 0;
  left: 5px;
}
.advantages__item:nth-child(1)::after {
  background-position: 0 0;
}
.advantages__item:nth-child(2)::after {
  background-position: -82px 0;
}
.advantages__item:nth-child(3)::after {
  background-position: -164px 0;
}
.advantages__item:nth-child(4)::after {
  background-position: -246px 0;
}
.advantages__item:nth-child(5)::after {
  background-position: -328px 0;
}
.advantages__item:nth-child(6)::after {
  background-position: -410px 0;
}
.advantages__item:nth-child(7)::after {
  background-position: -492px 0;
}
.advantages__item:nth-child(8)::after {
  background-position: -574px 0;
}
.advantages__title {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  color: #06abdd;
  letter-spacing: 0.3px;
  line-height: 23px;
  margin-bottom: 5px;
}
.advantages__text {
  font-weight: 600;
  font-style: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  line-height: 16px;
}
.recomend {
  padding: 0 30px;
  margin: 0 auto;
  border-bottom: none;
  margin-bottom: 50px;
  padding-top: 176px;
}
.recomend .item {
  height: 420px;
}
.owl-carousel {
  padding: 20px 0;
}
div.item img.item-img {
  width: 282px;
  height: 374px;
  margin: 0 auto;
}
.item-link {
  display: block;
  box-sizing: border-box;
  width: 294px;
  height: 386px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
}
.item-link:focus {
  outline: none;
}
.owl-nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
  margin-top: -20px;
}
.owl-prev {
  position: absolute;
  top: -22px;
  left: -6px;
}
.owl-next {
  position: absolute;
  top: -22px;
  right: -6px;
}
.owl-item {
  min-height: 500px;
}
.owl-nav span {
  font-size: 40px;
  display: block;
  line-height: 32px;
  border: none;
  width: 40px;
  height: 40px;
}
.owl-theme div.owl-nav button.owl-next,
.owl-theme div.owl-nav button.owl-prev {
  background: #80dffc;
  border-radius: 50%;
}
.owl-theme div.owl-nav button.owl-next:hover,
.owl-theme div.owl-nav button.owl-prev:hover {
  color: #000;
  background: #06abdd;
}
.owl-theme div.owl-nav button.owl-next span {
  padding-left: 2px;
}
.owl-theme div.owl-nav button.owl-next:focus,
.owl-theme div.owl-nav button.owl-prev:focus {
  outline: none;
}
.item-undertitle {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  padding: 12px 4px 0;
  text-align: center;
  color: #ddd;
}
.center .item-undertitle {
  font-family: Open Sans, sans-serif;
  font-size: 15px;
  padding: 12px 4px 0;
  text-align: center;
  color: #282828;
  font-weight: bold;
}
.owl-nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
  margin-top: -20px;
}
/*Брейк-поинты для слайдера*/
@media screen and (min-width: 610px) and (max-width: 1000px) {
  .item {
    height: 250px;
  }
  div.item img.item-img {
    width: 178px;
    height: 238px;
    margin: 0 auto;
  }
  .item-link {
    display: block;
    box-sizing: border-box;
    width: 190px;
    height: 250px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
  }
}
.owl-item .item-img {
  opacity: 0.4;
}
.owl-item.center .item-img {
  opacity: 1;
}
@media screen and (max-width: 650px) {
  .item {
    height: 290px;
  }
  div.item img.item-img {
    width: 198px;
    height: 278px;
    margin: 0 auto;
  }
  .item-link {
    display: block;
    box-sizing: border-box;
    width: 210px;
    height: 290px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
  }
}
/*Анимация и стили для magnific popup*/
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.9;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}
