body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
section {
  width: 100%;
  height: 100%;
  padding-top: 176px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  max-width: 1456px;
  padding: 0px 20px;
}
.header {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  padding-top: 22px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header__row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 1456px;
  margin: 0 auto;
}
.header__column {
  width: 50%;
  margin: 0;
  padding: 0px 45px;
}
.header__column--left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.header__column--left a {
  margin-right: 20px;
}
.header__column--right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 10px;
}
.header__column--right .header__block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.header__column--right .header__block:first-child {
  margin-left: auto;
  margin-right: 25px;
}
.header__column--right .header__block:first-child .header__info:nth-child(1)::before {
  background: url('../img/location-pointer.svg') center no-repeat;
}
.header__column--right .header__block:first-child .header__info:nth-child(2)::before {
  background: url('../img/watch.svg') center no-repeat;
}
.header__column--right .header__block:last-child {
  margin-right: 0px;
  margin-left: 0px;
}
.header__column--right .header__block:last-child .header__info:first-child .aligner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.header__column--right .header__block:last-child .header__info:first-child .aligner a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}
.header__column--right .header__block:last-child .header__info:nth-child(1)::before {
  background: url('../img/call-answer.svg') center no-repeat;
}
.header__column--right .header__block:last-child .header__info:nth-child(2) {
  color: #06abdd;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__column--right .header__block:last-child .header__info:nth-child(2)::before {
  background: url('../img/message.svg') center no-repeat;
  border-color: #06abdd;
}
.header__column--right .header__block:last-child .header__info:nth-child(2):hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.header__info {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  min-height: 46px;
  margin: 6px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  position: relative;
}
.header__info::before {
  content: '';
  display: block;
  height: 46px;
  width: 46px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 14px;
}
.hamburger {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  padding-right: 70px;
}
.hamburger:hover .hamburger__item:first-child {
  position: relative;
  top: -2px;
}
.hamburger:hover .hamburger__item:last-child {
  position: relative;
  bottom: -2px;
}
.hamburger__item {
  display: inline-block;
  width: 35px;
  height: 5px;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 2px;
}
.hamburger__item:last-child {
  margin-bottom: 0;
}
.hamburger::after {
  content: 'Меню';
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  line-height: 16px;
  position: absolute;
  top: 4px;
  left: 45px;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.navigation {
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  display: none;
}
.navigation__btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: url('../img/cancel.svg') center no-repeat;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.navigation__btn:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.navigation__column {
  width: 312px;
  margin: 0 15px;
  position: relative;
}
.navigation__list {
  margin: auto;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  color: #06abdd;
}
.navigation__underlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__title {
  font-size: 24px;
  margin-bottom: 40px;
  padding-left: 30px;
  border-left: 2px solid #06abdd;
}
.navigation__undertitle {
  font-size: 16px;
  margin-bottom: 10px;
  webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigation__undertitle:first-child {
  margin-top: 15px;
}
.navigation__undertitle a {
  color: #fff;
  text-decoration: none;
  webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navigation__undertitle:hover {
  transform: translateX(8px);
}
.navigation__undertitle:hover a {
  color: #06abdd;
}
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 112px;
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.social__item {
  display: inline-block;
  margin-right: 10px;
}
.social__item a {
  opacity: .5;
  webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social__item:hover a {
  opacity: 1;
}
.popupform {
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: #eee;
  padding: 20px 30px;
  overflow-y: auto;
}
.popupform-field {
  position: relative;
}
.popupform-field label.error {
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  color: red;
}
.popupform-inner {
  max-height: 600px;
  margin: auto;
}
.popupform-thanks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  background: #fff;
}
.popupform-thanks-content {
  margin: auto;
  max-width: 600px;
  padding: 20px;
}
.popupform-thanks-content h2.title-form {
  font-size: 30px;
}
.popupform .btn-form-close {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: all .5s ease;
  background: url('../img/delete.svg');
}
.popupform .btn-form-close:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all .5s ease;
}
.popupform .title-form {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
}
.popupform p {
  display: block;
  max-width: 915px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 16px;
}
.popupform form {
  max-width: 430px;
  padding: 0 15px;
  margin: 0 auto;
}
.popupform input[type="text"],
.popupform input[type="email"],
.popupform textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 13px 20px;
  color: #5b5b5b;
  border: 2px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  margin-bottom: 20px;
  height: 48px;
  background: #FFF;
}
.popupform input[type="text"]:hover,
.popupform input[type="email"]:hover,
.popupform textarea:hover {
  border: 2px solid #4fd2fa;
}
.popupform input[type="text"]:focus,
.popupform input[type="email"]:focus,
.popupform textarea:focus {
  border: 2px solid #06abdd;
}
.popupform textarea {
  height: 130px;
  font-family: Arial, sans-serif;
}
.popupform input[type="file"] {
  display: none;
}
.popupform .btn-file {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 16px;
  background: #80dffc;
  line-height: 50px;
  border-radius: 4px;
  color: #686868;
  cursor: pointer;
  transition: .15s;
  margin-bottom: 0;
  text-align: center;
}
.popupform .btn-file:hover {
  background: #06abdd;
  transition: .15s;
  color: #282828;
}
.popupform .btn-file:active,
.popupform .btn-file:focus {
  outline: none;
}
.popupform .btn-text {
  display: block;
  margin: 0 auto;
  min-width: 180px;
  height: 48px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: .25s;
  border-radius: 4px;
  color: #686868;
  background: #80dffc;
  font-family: 'Open Sans', Arial, sans-serif;
}
.popupform .btn-text:hover {
  background: #06abdd;
  color: #282828;
}
.popupform .btn-text:focus {
  outline: none;
}
.popupform .confidentiality {
  margin: 10px 0;
}
.confidentiality {
  font-size: 11px;
  text-align: center;
  color: #757575;
}
.confidentiality a {
  text-decoration: underline;
  color: #757575;
  transition: .2s;
}
.confidentiality a:hover,
.confidentiality a:active {
  color: #282828;
  transition: .2s;
}
.mark {
  width: 200px;
  margin: 0 auto;
}
.mark .checkmark {
  stroke: #ffee00;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 2s ease-out forwards;
}
.container {
  max-width: 1456px;
  margin: 0 auto;
}
.title--section {
  font-size: 20px;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  text-align: left;
  text-indent: 0;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #06abdd;
  text-align: center;
}
.category {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
.category__item {
  width: 20%;
  padding: 20px 0;
}
.category__item a {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}
.category__item a:hover .category__title {
  color: #06abdd;
}
.category__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: red;
  margin-bottom: 20px;
}
.category__title {
  font-weight: bold;
  position: relative;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  text-indent: 0;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #000;
  line-height: 20px;
}
.category--processing .category__item:nth-child(1) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: 0 0;
}
.category--processing .category__item:nth-child(1) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -90px 0;
}
.category--processing .category__item:nth-child(2) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -180px 0;
}
.category--processing .category__item:nth-child(2) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -270px 0;
}
.category--processing .category__item:nth-child(3) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -360px 0;
}
.category--processing .category__item:nth-child(3) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -450px 0;
}
.category--processing .category__item:nth-child(4) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -540px 0;
}
.category--processing .category__item:nth-child(4) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -630px 0;
}
.category--processing .category__item:nth-child(5) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -720px 0;
}
.category--processing .category__item:nth-child(5) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -810px 0;
}
.category--goods .category__item:nth-child(1) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -900px 0;
}
.category--goods .category__item:nth-child(1) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -990px 0;
}
.category--goods .category__item:nth-child(2) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1080px 0;
}
.category--goods .category__item:nth-child(2) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1170px 0;
}
.category--goods .category__item:nth-child(3) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1260px 0;
}
.category--goods .category__item:nth-child(3) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1348px 0;
}
.category--goods .category__item:nth-child(4) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1440px 0;
}
.category--goods .category__item:nth-child(4) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1530px 0;
}
.category--goods .category__item:nth-child(5) .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1620px 0;
}
.category--goods .category__item:nth-child(5) a:hover .category__icon {
  background: url('../img/sprite.png') no-repeat;
  background-position: -1710px 0;
}
.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.advantages__item {
  width: 25%;
  padding-left: 92px;
  padding-right: 5px;
  position: relative;
  margin: 10px 0;
}
.advantages__item:after {
  content: '';
  display: block;
  width: 72px;
  height: 72px;
  background: url('../img/sprite--advantages.png') no-repeat;
  position: absolute;
  top: 0;
  left: 5px;
}
.advantages__item:nth-child(1)::after {
  background-position: 0 0;
}
.advantages__item:nth-child(2)::after {
  background-position: -82px 0;
}
.advantages__item:nth-child(3)::after {
  background-position: -164px 0;
}
.advantages__item:nth-child(4)::after {
  background-position: -246px 0;
}
.advantages__item:nth-child(5)::after {
  background-position: -328px 0;
}
.advantages__item:nth-child(6)::after {
  background-position: -410px 0;
}
.advantages__item:nth-child(7)::after {
  background-position: -492px 0;
}
.advantages__item:nth-child(8)::after {
  background-position: -574px 0;
}
.advantages__title {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  color: #06abdd;
  letter-spacing: 0.3px;
  line-height: 23px;
  margin-bottom: 5px;
}
.advantages__text {
  font-weight: 600;
  font-style: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  line-height: 16px;
}
