// out: ../css/styles.css, sourcemap: false, compress: false
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container {
  max-width: 1456px;
  padding: 0px 20px;
}

@import "navigation.less";
